<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=role(user?.roleName)%></title>
    <%- include("Head/head"); %>
  </head>
  <body>
    <%- include("Header/header"); %> <%- include("Nav Bar/side-bar"); %> <%-
    body %> <%- include("Footer/footer"); %> <%- include("messages/message"); %>
  </body>
</html>
